@charset "UTF-8";

/* Todas as demais mídias */

/* Typical Device Breackpoints
  -----------------------------
  Telas Extra Pequenas (Celulares, 600px e abaixo)
  Pequenas telas (tablets modo retrato e celulares grandes, 600px e acima)
  Dispositivos Médios (tablets modo paisagem, 768px e acima)
  Dispositivos Grandes (laptops/desktops, 992px e acima)
  Dispositivos Extra Grandes (grandes laptops and desktops, 1200px e acima)
 */


@media print { /* IMPRESSÃO */
* {
    font-family: 'Courier New', Courier, monospace;
}

 body {
   background-image: url(../imagens/back-print.jpg); /* DESNECESSÁRIO */
   
 }

main {
    border: 2px solid black;
    width: 90vw;
}

main::after {
    content: 'Essa impressão foi feita através do site cursoemvideo.com';
    text-decoration: overline;
}

main h1 {
    text-shadow: none;
   color: black;
}

 img#phone {display: none;}
    img#tablet {display: none;}
    img#print { display: block;}
    img#pc {display: none;}
    img#tv { display: none;}
}

@media screen and (min-width: 768px) { /* TABLET */
  body {
    background-image: url(../imagens/back-tablet.jpg);
  }

    img#phone {display: none;}
    img#tablet {display: block;}
    img#print { display: none;}
    img#pc {display: none;}
    img#tv { display: none;}
}


@media screen and (min-width: 992px) { /* DESKTOP */
  body {background-image: url(../imagens/back-pc.jpg);
  }

    img#phone {display: none;}
    img#tablet {display: none;}
    img#print { display: none;}
    img#pc {display: block;}
    img#tv { display: none;}

}


@media screen and (min-width: 1200px) { /* TELAS GRANDES*/

    body {
        background-image:  url(../imagens/back-tv.jpg);
    }

    img#phone {display: none;}
    img#tablet {display: none;}
    img#print { display: none;}
    img#pc {display: none;}
    img#tv { display: block;}
}